<configuration>
    <contextName>testlog</contextName>
    <property name="LOG_HOME" value="d:\\log\\"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/test.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/test.log</fileNamePattern>
            <maxHistory>1</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%-4relative %date [%thread] %-5level %logger{35} -  %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="test" addtivity="true">
        <appender-ref ref="FILE"/>
    </logger>

    <root level="DEBUG">
        <appender-ref ref="FILE"/>
    </root>
</configuration>